.landing {
    &__hero {
        height: 350px;
        background-image: linear-gradient(to right, #0c2b4d, #206bbb);
        align-items: center;
    }
    &__title {
        color: #ffffff !important;
    }
    &__video {
        padding: 4rem;
    }
    @media screen and (max-width: 768px) {
        &__video {
            padding: 0rem;
        }
        &__title {
            font-size: 18px !important;
        }
        &__hero {
            height: 200px;
        }
    }
}
